.navbar img {
  width: 40px;
  border-radius: 50%; }

nav {
  background-color: #FFD02B; }
  nav a {
    text-decoration: none; }
  nav:hover {
    background-color: #e84153; }

.row{
  width: 100%;
  margin: auto;
}    

.row .col {
  background-color: #FFD02B; }
  .row .col img {
    width: 100%; }

.row .col-sm {
  background-color: #FFD02B; }
  .row .col-sm img {
    width: 100%; }

.row div a img {
  width: 15px; }
.row .p {
  width: 300px;
  text-align: center;
  margin: auto;
  justify-content: center;
  color: red; 
  border: solid 5px;}

.footer {
  background-color: #e84153;
  color: #FFD02B; 
  text-align: center;}
  .footer a {
    text-decoration-line: none;
    margin: 13px; }

.skills {
  text-align: center; 
  margin: 10px;}
  .skills .col-md-6:hover {
    background-color: red;
    color: #FFD02B;
    border-radius: 5%; }


