body{
	font-family: 'Secular One', sans-serif;
}
.navbar {
    img {
		@include pruebaMixin (40px, 50%);
    }
}
nav {
	background-color: $bgColor;
	a {
		text-decoration: none;
	}
	&:hover {
		background-color: $textColor;
	}
}
.row {
	.col {
		background-color: $bgColor;
		img {
			width: $width;
		}
	
	}
	.col-sm {
		background-color: $bgColor;
		img {
			width: $width;
		}
	}
    %pruebaExtend{
        width: 15%;
    }
	div a img {
		@extend %pruebaExtend;
	}

}
.footer {
	background-color: $textColor;
	color: $bgColor;
	a {
		text-decoration-line: none;
	}
}

.skills{
	text-align: center;
	.col-6{
		&:hover{
			background-color: $textColor;
			color: $bgColor;
			border-radius: map-get($pruebaMap, normal);
		}
	}
}

.centro{
	display: flex;
	p{
		width: 300px;
		text-align: center;
		margin: auto;
		justify-content: center;
		color: $textColor;
		border: solid 5px;
		border-color: red;
	}
}
