@import "fuentes";
@import "variables";
@import "tools";
@import "main";
body{
	font-family: 'Secular One', sans-serif;
}
.navbar {
    img {
		@include pruebaMixin (40px, 50%);
    }
}
nav {
	background-color: $bgColor;
	a {
		text-decoration: none;
	}
	&:hover {
		background-color: $textColor;
	}
}
.row {
	width: 100%;
	margin: auto;
	.col {
		background-color: $bgColor;
		img {
			width: $width;
		}
	p{
		width: 300px;
		text-align: center;
		margin: auto;
		justify-content: center;
		color: $textColor;
		border: solid 5px;
		border-color: red;
		}
	
	}
	.col-sm {
		background-color: $bgColor;
		img {
			width: $width;
		}
	}
	div a img {
		width: 15px;
	}

}
.footer {
	background-color: $textColor;
	color: $bgColor;
	text-align: center;
	a {
		text-decoration-line: none;
		margin: 13px;
	}
}

.skills{
	text-align: center;
	margin: 10px;
	.col-md-6{
		margin: 10px;
		&:hover{
			background-color: $textColor;
			color: $bgColor;
			border-radius: map-get($pruebaMap, normal);
		}
	}
}

